<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Seguridad</h1> - <h3>(Year)</h3>
                <p>Trabaje de seguridad en la empresa Phoenix seguridad privada, para el evento "Tecnopolis Paraná".
                    Ayudaba a organizar a los visitantes, y cuidar los puestos e inmobilario durante lo que duro el evento.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Informatico</h1> - <h3>(Year)</h3>
                <p>Actualmente trabajo en un estudio contable, haciendo mantenimiento de las computadoras, tanto de hardware y software.
                    ademas de ayudar a ordenar papeles y con Exel.
                </p>
            </li>
        </ul>
    </div>
</div>